header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top:80px ;
}

header .title{
    width: 50%;
    margin-top: 100px;
}

header h1:first-child{
    margin-right: 100px;
}

header h1:last-child{
    margin-left: 70px;
}

header .title-img{
    position: relative;
}

header img{
    width: 40%;
    height: auto;
    /* height: 520px; */
}



header a{
    display: inline-block;
    width: 99px;
    height: 52px;
    font-family:'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.105em;
    color: #423E3E;
    background: rgba(255, 255, 255, 0.63);

}

header .fukuoka{
    position: absolute;
    top: 215px;
    right: 239px;
    padding: 10px;
}



body{
    color: #ffff;
}

.main-block{
    width:80%;
}

section{
    display: flex;
    margin-top: 100px;
    margin-bottom: 120px;
}

section img:first-child{
    width: 407px;
    height: auto;
    padding-bottom: 3px;
}

section img~img{
    width: 200px;
    height: 141px;

}

.photo img{
    padding-right: 3px;
}

.photo{
    margin-right: 40px;
    box-shadow: -27px -29px 0 7px #f7572f;
}



.text h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    padding-bottom: 25px;
}

section a{
    display: block;
    font-size: 16px;
    letter-spacing: 0.105em;
    color:#423E3E;
    width: 150px;
    height: 40px;
    background-color: #ffffffa9;
    line-height: 40px;
    margin-top: 40px;
}

section a:hover{
    color:#ffffffa9;
    background-color:#f7572fb7;
    font-weight: 700;
}

.photo1{
    margin-left: 40px;
    box-shadow: 27px -29px 0 7px #f7572f;
}

.photo1 img{
    padding-right: 0px;
    padding-left: 3px;
}

.page{
    width:60px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.page a{
    display: block;
    font-size: 12px;
    letter-spacing: 0.105em;
    color:#423E3E;
    width: 25px;
    height: 25px;
    background-color: #ffffffa9;
    line-height: 25px;
}

.page a:hover{
    color:#ffffffa9;
    background-color:#f7572fb7;
}



@media screen and (max-width: 414px){

.main-block{
    width: auto;
}


header{
margin-top: 30px;
}

header .title{
    margin-top: 50px;
    margin-left: 28px;
}

.title h1{
    display: inline-block;
    padding: 0px 15px;
}

header h1:first-child{
    margin-right: 80px;
}

header h1:last-child{
    margin-left: 36px;
}

header img{
    /* height: 256px; */
    margin-right: 10px;
}

section{
    display: flex;
    flex-direction: column;
    margin: 80px auto;

}

.photo{
    margin-right: 0px;
    margin-left: 24px;
    box-shadow: -72px -18px 0 3px #f7572f;
}

section img:first-child{
    width: 340px;
    height: auto;
    padding-bottom: 3px;
}

section img~img{
    width: 169px;
    height: 122.5px;

}

.photo img{
    padding-right: 0px;
}

.text{
    
    margin:0 24PX;
}

.text h3{
    font-family:'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    padding-bottom: 25px;
}

p{
    font-size: 14px;
    line-height: 215%;
    letter-spacing: 0.15em;
}

.photo1{
    order:-1;
    margin-left: 24px;
    box-shadow: -72px -18px 0 3px #f7572f;
}

























}








