

header{
    width: 100%;
    height: 670px;
    background-image: url(../img/news/news-top.jpg);
    background-size: cover;
    background-position: bottom;
}

h1{
    display: inline-block;
    margin-top: -80px;
}

.sel{
    height: 90px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
    display: flex;
}

.sel li{
    width: 100px;
    height: 48px;
    border: 2px solid #FFFFFF;
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-family: 'Noto Serif TC', serif;
    position: relative;
    margin-bottom: 20px;
}

h3::after{
    content: "";
    width: 97%;
    height: 7px;
    background-color: #F75C2F;
    position: absolute;
    left: 24px;
    bottom: -13px;


}


.news{
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

.news li{
    margin: 20px;
    height: 150px;
    background-color: #ffffffda;
    display: flex;    
    position: relative;
}

.news img{
    /* float: left; */
    height: 150px;
    /* width: 150px; */
}

.news .text{
    padding: 20px;
    
}

.news img+p{
    padding-left: 20px;
    padding-top: 16px;
    display: inline-block;
    color: #322F2F;
}


.news p+p{
    font-weight: 700;
    /* font-size: 14px; */
    line-height: 195.3%;
    letter-spacing: 0.105em;
    color: #423E3E;
    /* padding-left:276px; */
    padding-right: 190px;
    padding-left: 36px;
    transition: 0.3s;
}

.news p+p:hover{
    font-size: 17px;
}

.news a{
    display: block;
    font-size: 16px;
    font-family: 'Noto Serif TC';
    letter-spacing: 0.105em;
    color: #FFFFfF9a;
    width: 150px;
    height: 40px;
    background-color:#423E3E ;
    line-height: 40px;

    position: absolute;
    right: 35px;
    bottom: 27px;
}

.news a:hover{
    color:#423E3E ;
    background-color:#F75C2F;
    font-weight: 700;
}

.main-block+img{
    margin-top: 270px;
    width: 100%;
}


@media screen and (max-width: 414px){
    .news li{
        flex-direction: column;
        height: auto;
        padding-bottom: 65px;
        background-color: #FFFFFF;
    }

    header{
        height: 265px;
    }

    .sel{
        width: 90%;
        /* border: 3px solid red ; */
    }

    .sel li{
        flex-basis: 0px;
    }

    .news img {
        /* float: left; */
        height: auto;
        width: 100%;
    }

    .news .text {
        width: 100%;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .news p:first-child{
        padding-left: 14px;
        padding-top: 6px;
    }

    .news p+p {
    padding-left: 24px;
    padding-right: 24px;
    text-align:justify;
    }

    .news a{
        bottom: 13px;
        right: 90px;
    }
    

    


}
