.wrapper{ 
    overflow: hidden;
}

header{
    width: 100%;
    height: 680px;
    background-image: url(../img/plan/plan-top.jpeg);
    background-size: cover;
    background-position: center;
}



h1{
    display: inline-block;
    margin-top: -80px;
}

.main-block{
    width: 76%;
    margin: 0 auto;
}

h2{
    text-align: center;
    margin-top: 60px;
}

h3{
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 20px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: center;
}

section{
    border: 2px solid #FFFFFF;
    /* background-color: #f75a2fa0; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

section h4{
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 30px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
}

section h5{
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 22px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
    margin-top: 30px;
}

section .selection{
    padding-left:50px ;
    color: #FFFFFF;
}

section .selection ul{
    display: flex;
    flex-direction: column;
    
}

section .selection ul li:first-child {
    list-style-type: circle;
}

section .selection ul.day{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section .selection ul.day li{
    padding-right: 24px;

}

section .selection ul.area{
    display: flex;
    flex-direction: row;
}

section .selection ul.area li{
    flex-grow: 1;
}

section .selection ul.traffic{
    display: flex;
    flex-direction: row;
}

section .selection ul.traffic li{
    padding-right: 24px;

}

section .selection ul.like{
    display: flex;
    flex-direction: row;
}

section .selection ul.like li{
    padding-right: 24px;

}


p{
    display: inline-block;
    line-height: 300%;
    letter-spacing: 0.125em;
    font-size: 16px;
    font-weight: 700;
    color:darkgoldenrod;
    
}

span{
    font-size: 16px;
    line-height: 300%;
    letter-spacing: 0.125em;
    padding-right: 28px;
}

textarea{
    vertical-align: -250%;
    width: 200px;
    height: 50px;
}



input:hover{
    background-color: #f75a2fcf;
    cursor:pointer;
}

.sendout{
    width: 200px;
	height: 40px;
	font-size: 16px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 0.3s;
}

.sendout:hover{
    background-color:#F75C2F ;
    color: #FFFFFF;
    font-weight: 700;
    width: 210px;
    height: 45px;
}


img.map{
    width: 400px;
    height: auto;
    margin-left: 846px;
    margin-top: -240px;
}

.ani{
    width:100%;
    display: flex;

    /* 跑馬燈動畫 */
    position: relative;
    /* overflow: hidden; */
    animation-name: slide-ani;
    animation-duration: 16s;
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
    
    /* display: none; */
}

@keyframes slide-ani {
    from {
      left: 0px;
    }
  
    to {
      left: -1200px;
    }
  }

img+ul li{
    box-sizing: border-box;
    width: 25%;
    flex-shrink: 0;
    /* position: absolute; */
}

img+ul li img{
   display: block;
   width: 100%;
}

@media screen and (max-width: 414px){
    
    header{
        height: 288px;
    }

    h1{
        padding: 10px 50px;
    }


    h2{
        font-size: 28px;
        margin-bottom: 10px;
    }

    h3{
        line-height: 200%;
    }

    p{
        font-size: 18px;
    }

    img.map{
        width: 338px;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        top: 399px;
        left: 76px;
        z-index: -1;
        opacity: 0.4;
    }

    section ul{
        padding: 0px;
    }
    section .selection ul.area{
        flex-direction:column;
    }
    section .selection ul.traffic{
        flex-direction:column;
    }
    section .selection ul.like{
        flex-direction:column;
    }

    .sendout{
    border: 3px solid white;
    font-weight: 700;
    margin-top: 52px;
    width: 210px;
    }

    @keyframes slide-ani {
        from {
          left: 0px;
        }
        to {
          left: -414px;
        }
      }



   

}
