header{
    width: 100%;
    height: 520px;
    background-image: url(../img/recommand/recommand-top.png);
    background-size: cover;
}

h1{
    display: inline-block;
    margin-top: -80px;
}

.sel{
    padding-top: 60px;
}

.main-block{

}

h2{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

section{
    width: 100%;
    /* height: 381px; */
    background-image: url(../img/recommand/section-bg1.png);
}

section .aaa{
    display: flex;
    padding-left: 50px;
}

section .contain{
    width: 50%;
    /* padding-left: 50px; */
    padding-top: 30px;
    
}

section ul{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-top: 30px;
    align-items: flex-end;
}  

section li{
    padding-left: 10px;  
}

.topic1 img{
    height: 120px;
    width: auto ;
}

h3{
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 195.3%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
}

section .contain+img{
    
    /* height: 381px; */
    width: 50%;
    object-fit: cover;
    height: auto;
}

section+img{
    height: 100px;
    margin-top: -25px;
}

section+img+section{
    background-image: url(../img/recommand/section2.png);
}

.topic2{
    padding-left: 78px;
    padding-top: 15px;
}

/* .topic2 li{
    padding-right: 10px;
} */

.topic2 img{
    width: 150px ;
    height: auto;
}


.topic3 img{
    width: 150px ;
    height: auto;
}

section:nth-of-type(3){
    background-image: url(../img/recommand/section-bg1.png);
}

section:nth-of-type(3) ul{
    padding-left: 240px;
    padding-top: 65px;
}

section:last-child ul{
    padding-left: 240px;
    padding-top: 70px;
}

.main-block{
    margin-bottom: 140px;
}

@media screen and (max-width: 414px){

    header{
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position:  right;
    }

    .sel li {
        flex-basis: 90px;
    }

    h1{
        padding: 10px 60px;
    }

    h2{
        margin-top: 125px
    }

    h3{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    section .aaa {
        padding-left: 0px;
        flex-direction: column;
    }

    section .contain+img{
        order:-1;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    section .contain{
        width: 90%;
        text-align:justify;
        margin: 0 auto;
    }



}