header{
    width: 100%;
    height: 545px;
    background-image: url(../img/share/share-top.png);
    background-size: cover;
    background-position: center;
}

h1{
    display: inline-block;
    margin-top: -80px;
}

.main-block{
    width:80%;
    margin: 0 auto;
    margin-bottom: 140px;
}

.main-block>a{
    display: inline-block;
    width: 232px;
    height: 55px;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #fff;
    background-color:#F75C2F;
    background-color:background-color: #F75C2F;;
    margin-left: 760px;
}

.main-block>a:hover{
    color:#F75C2F; 
    background-color: #fff;
}

.food{
    height: 340px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/share/Group\ 28\ \(1\).png);
    margin-top: 140px;
}

.main li{
    /* height: 300px; */
    width: 25%;
    background-color: #ffff;

}

.main img{
    /* height: 204px; */
    padding-top: 14px;
    width: 85%;

}

.main p{
    font-size: 13px;
    line-height: 150%;
    margin: 6px 15px;
    text-align: justify;
    color: #423E3E;
}

.main h2{
    writing-mode: vertical-rl;
    letter-spacing: 0.55em;
    display: block;
    background-color:#F75C2F ;
    padding-top: 42px;
    margin-top: -225px;

}

.shopping{
    height: 340px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/share/Rectangle\ 287.png);
    margin-top: 70px;

}

.site{
    height: 340px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/share/Rectangle\ 289.png);
    margin-top: 70px;

}

.trafic{
    
        height: 340px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        background-image: url(../img/share/Rectangle\ 286.png);
        margin-top: 70px;
    
}

@media screen and (max-width: 414px){
    .main-block>a{
        margin-left: 0px;
    }

    header {
        height: 288px;
    }
}
